{% extends "master.html" %}

{% block title %}
    Lista dos alunos
{% endblock %}

{% block content %}

    {% include "header.html" %}

    <div class="row">
        <div class="row">
            <div class="col"></div>

            <div class="col">

                <nav>
                    <div class="nav nav-tabs mt-5" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-todos-tab" data-bs-toggle="tab" data-bs-target="#nav-todos" type="button" role="tab" aria-controls="#nav-todos" aria-selected="true">Todos</button>
                        <button class="nav-link" id="nav-ativos-tab" data-bs-toggle="tab" data-bs-target="#nav-ativos" type="button" role="tab" aria-controls="#nav-ativos" aria-selected="false">Ativos</button>
                        <button class="nav-link" id="nav-trancados-tab" data-bs-toggle="tab" data-bs-target="#nav-trancados" type="button" role="tab" aria-controls="#nav-trancados" aria-selected="false">Trancados</button>
                        <button class="nav-link" id="nav-jubilados-tab" data-bs-toggle="tab" data-bs-target="#nav-jubilados" type="button" role="tab" aria-controls="#nav-jubilados" aria-selected="false">Jubilados</button>
                        <button class="nav-link" id="nav-desistentes-tab" data-bs-toggle="tab" data-bs-target="#nav-desistentes" type="button" role="tab" aria-controls="#nav-desistentes" aria-selected="false">Desistentes</button>
                        <button class="nav-link" id="nav-concluidos-tab" data-bs-toggle="tab" data-bs-target="#nav-concluidos" type="button" role="tab" aria-controls="#nav-concluidos" aria-selected="false">Defenderam</button>
                    </div>
                </nav>
            

            <div class="container p-5 mb-5 border"> 

                <div class="row mb-4">

                    <!-- BACK BUTTON -->
                    <div class="col-3">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>
                        </a>
                    </div>

                    <!-- search bar -->
                    <div class="col-md-auto">
                        <form method="GET">
                            <input type="text" name="aluno" placeholder="Buscar aluno">
                            <button type="submit">Buscar</button>
                        </form>
                    </div>

                    <div class="col"></div>

                </div> 

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-todos" role="tabpanel" aria-labelledby="nav-todos-tab">
    
                        <!-- alunos listados -->
                        <ul class="list-group list-group-flush">
                            {% for x in alunosValues %}
                            <li class="list-group-item"> <a href="{% url 'alunoInfo' prefix='alunos' id=x.id %}">{{ x.nome }} {{ x.sobrenome }}</a> </li>
                            {% endfor %}
                        </ul>

                    </div>
    
                    <div class="tab-pane fade" id="nav-ativos" role="tabpanel" aria-labelledby="nav-ativos-tab">

                        <!-- alunos listados -->
                        <ul class="list-group list-group-flush">
                            {% for aluno in alunosAtivos %}
                            <li class="list-group-item"> <a href="{% url 'alunoInfo' prefix='alunos' id=aluno.id %}">{{ aluno.nome }} {{ aluno }}</a> </li>
                            {% endfor %}
                        </uv>

                    </div>
                    
                    <div class="tab-pane fade" id="nav-trancados" role="tabpanel" aria-labelledby="nav-trancados-tab">

                        <!-- alunos listados -->
                        <ul class="list-group list-group-flush">
                            {% for aluno in alunosTrancados %}
                            <li class="list-group-item"> <a href="{% url 'alunoInfo' prefix='alunos' id=aluno.id %}">{{ aluno.nome }} {{ aluno }}</a> </li>
                            {% endfor %}
                        </uv>
                        
                    </div>

                    <div class="tab-pane fade" id="nav-jubilados" role="tabpanel" aria-labelledby="nav-jubilados-tab">

                        <!-- alunos listados -->
                        <ul class="list-group list-group-flush">
                            {% for aluno in alunosJubilados %}
                            <li class="list-group-item"> <a href="{% url 'alunoInfo' prefix='alunos' id=aluno.id %}">{{ aluno.nome }} {{ aluno }}</a> </li>
                            {% endfor %}
                        </uv>

                    </div>

                    <div class="tab-pane fade" id="nav-desistentes" role="tabpanel" aria-labelledby="nav-desistentes-tab">
    
                        <!-- alunos listados -->
                        <ul class="list-group list-group-flush">
                            {% for aluno in alunosDesistentes %}
                            <li class="list-group-item"> <a href="{% url 'alunoInfo' prefix='alunos' id=aluno.id %}">{{ aluno.nome }} {{ aluno }}</a> </li>
                            {% endfor %}
                        </ul>
    
                    </div>

                    <div class="tab-pane fade" id="nav-concluidos" role="tabpanel" aria-labelledby="nav-concluidos-tab">
    
                        <!-- alunos listados -->
                        <ul class="list-group list-group-flush">
                            {% for aluno in alunosConcluidos %}
                            <li class="list-group-item"> <a href="{% url 'alunoInfo' prefix='alunos' id=aluno.id %}">{{ aluno.nome }} {{ aluno }}</a> </li>
                            {% endfor %}
                        </ul>
    
                    </div>
                    
                </div>


                <div class="container px-0 mt-4">
                    <a href="{% url 'criar_aluno'%}">
                        <button type="button" class="btn btn-outline-dark">
                            Criar novo aluno
                        </button> 
                    </a>
                </div>
              
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-2"></div>

                <!--############ FILTROS ############-->
                
                    <div class="col-6">
                        <div class="container p-4 my-5 border">
                            <form action="{% url 'alunos' %}" method="GET">
                                <h5 class="text-center mb-3"> Filtros </h5>

                                <h6>Defendeu:</h6>
                                <div class="container pl-4">
                                    <input type="radio" id="sim" name="defendeu" value="0" {% if request.GET.defendeu_sim %}checked{% endif %}>
                                    <label for="sim">Sim</label>
                                </div>

                                <div class="container pt-0">
                                    <input type="radio" id="nao" name="defendeu" value="1" {% if request.GET.defendeu_nao %}checked{% endif %}>
                                    <label for="nao">Não</label>
                                </div>

                                <h6> Turmas: </h6>
                                {% for turma in turmas %}   
                                <div class="container pl-0"> 
                                    <input type="checkbox" id="turma{{ turma.id }}" name="turma" value="{{ turma.id }}" {% if turma.id in turmas_selecionadas %}checked{% endif %}>
                                    <label for="turma{{ turma.id }}">{{ turma.nome }}</label>
                                </div>
                                {% endfor %}
                                
                                <button type="submit">Filtrar</button>

                            </form>
                        </div>
                    </div>

                <div class="col-6"></div>

            </div>
        </div>

    </div> 
    

{% endblock %}