{% extends "master.html" %}

{% block title %}
    Lista dos alunos
{% endblock %}

{% block content %}

{% include "header.html" %}

    <div class="container p-5 my-5 border"> 

        <p>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </a>
        </p>

        <h1>Alunos</h1>

        <ul>
            {% for x in alunosValues %}
            <li> <a href="alunoInfo/{{ x.id }}"> {{ x.nome }} {{ x.sobrenome }}</a> </li>
            {% endfor %}
        </ul>

        <div class="container p-4">
            <a href="{% url 'criar_aluno'%}">Criar novo aluno</a>
        </div>
      
    </div>
{% endblock %}