{% extends "master.html" %}

{% block title %}
    Detalhes sobre {{ alunoID.nome }} {{ alunoID.sobrenome }}
{% endblock %}

{% block content %}

    {% include "header.html" %}

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="container p-5 my-5 border"> 

                <div class="row">
                    <div class="col">
                        <a href="/alunos"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>    
                        </a>
                    </div>
                    <div class="col-6">
                        <h2 class="text-center">
                            {{ alunoID.nome }} {{ alunoID.sobrenome }}
                        </h2>
                    </div>
                    <div class="col"></div>
                </div> 
     

        
                <p>Curso: {{ alunoID.curso.curso }}</p>

                {% if alunoID.orientadores.count > 1 %}
                    <p>Orientadores: 
                        {% for orientador in alunoID.orientadores.all %}
                            {{ orientador.nome }}
                            {% if forloop.counter == alunoID.orientadores.all|length|add:-1 %}
                                e
                            {% elif not forloop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </p>
                {% else %}
                    <p>Orientador: {{ alunoID.orientadores.first.nome }}</p>
                {% endif %}

                <p>E-mail: {{ alunoID.email }}</p>
                <p>Matrícula: {{ alunoID.matricula }}</p>
                <p>Bolsista: {{ alunoID.bolsista }}</p>
                <p>Defendeu:
                    {% if alunoID.defesa%}
                    Sim</p>
                    <p>Data de defesa: {{alunoID.data_defesa}} <br>
                    <p><a href="{{ alunoID.artigo }}">
                    <button type="button" style="width:10;height:10" class="btn btn-outline-info">Acessar artigo</button></a></p>
                    {%else%}
                    Não
                    {% endif %}
                </p>
                <p>Observações: {{ alunoID.obs }}</p>
                
    
                <div class="container px-0 mt-4">
                    <a href="{% url 'editar_aluno' alunoID.id %}">
                        <button type="button" class="btn btn-outline-dark">
                            Editar aluno
                        </button>    
                    </a>
                </div>
                
        
            </div>
        </div>
        <div class="col"></div>
    </div> 

    
{% endblock %}
