{% extends "master.html" %}
{% load static %}
{% block title %}
    Criar Aluno
{% endblock %}

{% block content %}

    {% include "header.html" %}

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="container p-5 my-5 border">

                <div class="row mb-4">
                    <div class="col">
                        <a href="{% url 'alunos' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi    bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-6">
                        <h2 class="text-center">Criar Aluno</h2>
                    </div>
                    <div class="col"></div>
                </div> 

                <form method="post" action="{% url 'criar_aluno' %}">
                    {% csrf_token %}
                    <p><label for="id_nome">Nome:</label> {{ form.nome }}</p>
                    <p><label for="id_sobrenome">Sobrenome:</label> {{ form.sobrenome }}</p>
                    <p><label for="id_turma">Turma:</label> {{ form.turma }}</p>
                    <p><label for="id_orientador1">Orientadores:</label> {{ form.orientadores }}</p>
                    <p><label for="id_email">E-mail:</label> {{form.email}} </p>
                    <p><label for="id_matricula">Matrícula:</label> {{form.matricula}} </p>
                    <p>
                        <label for="id_eh_bolsista">Bolsista:</label> 
                        <input type="checkbox" id="id_eh_bolsista" name="eh_bolsista" {% if form.instance.eh_bolsista %}checked{% endif %}>
                    </p>

                    <div id="bolsaField" style="display:none;">
                        <p><label for="id_nome_da_bolsa">Bolsa:</label> 
                            <input type="text" id="id_nome_da_bolsa" name="nome_da_bolsa" value="{{ form.nome_da_bolsa.value }}">
                        </p>
                    </div>

                    <p><label for="id_obs">Observações:</label> {{ form.obs }}</p>

                    <button type="submit" class="btn btn-outline-success">Salvar</button> 
                </form>
                
            </div>
        </div>
        <div class="col"></div>
    </div>

      <!-- Messages Modal -->
    <div class="modal fade" id="messagesModal" tabindex="-1" aria-labelledby="messagesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messagesModalLabel">Mensagens</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/script_CriarAluno.js' %}"></script>
    
    {% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var messagesModal = new bootstrap.Modal(document.getElementById('messagesModal'));
            messagesModal.show();
        });
    </script>
    {% endif %}

{% endblock %}
