{% extends "master.html" %}
{% load static %}
{% block title %}
    Editar Aluno
{% endblock %}

{% block content%}

    {% include "header.html" %}

    {% if messages %}
    
    {% endif %}

    <div class="row">
        <div class="col"></div>
        <div class="col">
            
            <div class="container p-5 my-5 border"> 
                <!-- back button -->
                <div class="row mb-4">
                    <div class="col">
                        <a href={% url 'alunoInfo' aluno.id %}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-6">
                        <h2 class="text-center">Editar Aluno</h2>
                    </div>
                    <div class="col"></div>
                </div> 
                
    

                <!-- forms -->
                <form method="post" action="{% url 'editar_aluno' aluno.id %}">
                    {% csrf_token %}
                    <p><label for="id_nome">Nome:</label> {{ form.nome }}</p>

                    <p><label for="id_sobrenome">Sobrenome:</label> {{ form.sobrenome }}</p>

                    <p><label for="id_curso">Curso:</label> {{ form.curso }}</p>

                    <p><label for="id_orientador1">Orientadores:</label> {{ form.orientadores }}</p>

                    <p><label for="id_email">E-mail:</label> {{ form.email }} </p>

                    <p><label for="id_matricula">Matrícula:</label> {{ form.matricula }} </p>

                    <p><label for="id_bolsista">Bolsista:</label> {{ form.bolsista }}</p>

                    <p><label for="id_defesa">Defendeu:</label> 
                        <input type="checkbox" id="id_defesa" name="defesa" {% if aluno.defesa %}checked{% endif %} onclick="showArtigoField()">
                    </p>
                    
                    <div id="artigoField" style="display:none;">
                        <p><label for="id_artigo">Artigo:</label> 
                            <input type="text" id="id_artigo" name="artigo" value="{{ form.artigo.value }}">
                            <span id="urlError" style="color: red;"></span>
                        </p>
                    </div>
                    
                    <div id="artigoDate" style="display:none;">
                        <p><label for="id_data_defesa">Data da Defesa:</label> 
                            <input type="date" id="id_data_defesa" name="data_defesa" 
                            value="{% if form.instance.data_defesa %}{{ form.instance.data_defesa|date:"Y-m-d" }}{% endif %}"
                            min="1800-01-01" max="{% now "Y-m-d" %}">
                        </p>
                    </div>
                    

                    <p><label for="id_obs">Observações:</label> {{ form.obs }}</p>

                    <button type="submit" class="btn btn-outline-success">Salvar Edições</button>
                </form>
    
                <form method="post" action="{% url 'excluir_aluno' aluno.id %}" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger mt-2" onclick="return confirm('Tem certeza que deseja excluir este aluno?')">Excluir aluno</button>
                </form>
    
            </div>
        </div>
        <div class="col"></div>
    </div> 

    <script src="{% static 'js/script.js' %}"></script>
    
{% endblock %}
