<!-- visualizar dados da turma -->

{% extends "master.html" %}

{% block title %}
    Detalhes sobre a {{ myturma.nome }}
{% endblock %}

{% block content %}

    {% include "header.html" %}

    <div class="container p-5 my-5 border"> 
        
        <p>
            <a href="/turmas">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </a>
        </p>

        <h1>{{ myturma.nome }}</h1>

        <p>Vagas: {{ myturma.vagas }}</p>
        <p>Curso: {{ myturma.curso }}</p>
        <p>Data de início: {{ myturma.data_de_inicio }}</p> 

        <div class="container px-0 mt-4">
            <a href="{% url 'editar_turma' myturma.id %}">
                <button type="button" class="btn btn-outline-dark">
                    Editar turma
                </button>    
            </a>
        </div>

    </div>

    <div class="container p-5 my-5 border"> 

        <a href="#demo" data-bs-toggle="collapse" role="button"> alunos </a>

        <div id="demo" class="collapse">
            <ul>
                {% for aluno in aluno_turma %}
                    <li>{{ aluno.nome }}</li>
                {% endfor %}
            </ul>
        </div>

        

    </div>

{% endblock %}
