<!-- Lista de todas as turmas -->

{% extends "master.html" %}

{% block title %}
    Lista das turmas
{% endblock %}

{% block content %}

    {% include "header.html" %}

    <div class="row">
        <div class="col"> </div>

        <div class="col">
            <div class="container p-5 my-5 border">
                
                <div class="row mb-4">
                    <div class="col">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-6">
                        <h2 class="text-center"> Lista de Turmas</h2>
                    </div>
                    <div class="col"></div>
                  </div> 

                
                <div class="list-group">
                    {% for turma in all_turmas %}
                        <a href="details/{{ turma.id }}"  class="list-group-item list-group-item-action"> {{ turma.nome }} </a>
                    {% endfor %}
                </div>
            
                <div class="container px-0 mt-4">
                    <a href="{% url 'criar_turma'%}">
                        <button type="button" class="btn btn-outline-dark">
                            Criar nova turma
                        </button>
                    </a>
                </div>
               
            </div>
        </div>

        <div class="col"> </div>

    </div> 

  
{% endblock %}