<!-- página inicial -->

{% extends "master.html" %}

{% block title %}   
    RELATÓRIOS MESTRADO
{% endblock %}


{% block content %}
  
    {% include "header.html" %}


    <div class="row">
        <div class="col"></div>

        <div class="col">
            <div class="container p-5 my-5 border"> 
                
                <div class="row mb-4">
                    <div class="col">
                        <!-- back button -->
                        <a href="/"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>    
                        </a>
                    </div>


                    <div class="col-6">
                        <!-- titulo -->
                        <h2 class="text-center">
                            Relatórios
                        </h2>
                    </div>

                    
                    <div class="col"></div>

                    <!-- search bar -->
                    <div class="my-3">
                        <form method="GET">
                            <input type="text" name="naosei" placeholder="Buscar">
                            <button type="submit">Buscar</button>
                        </form>
                    </div>
                    
                    
                    <!-- turmas -->
                    <h3> Turmas </h3>
                    <div class="mt-2 mb-3">
                        <ul class="list-group">
                            {% for turma in todas_as_turmas %}
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                                    <label class="form-check-label" for="radioCheckbox"> {{ turma.nome }} </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- docentes -->
                    <h3> Docentes </h3>
                    <div class="mt-2 mb-3">
                        <ul class="list-group">
                            {% for docente in todos_os_docentes %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                                <label class="form-check-label" for="radioCheckbox"> {{ docente.nome }} </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <!-- anos -->
                    <h3> Anos </h3>
                    <ul class="list-group">
                        
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                            <label class="form-check-label" for="radioCheckbox"> 2024 </label>
                        </li>

                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                            <label class="form-check-label" for="radioCheckbox"> 2023 </label>
                        </li>
                        
                    </ul>
                     
                    <!-- data especifica -->
                    <h3> Intervalo de data </h3>
                    
                        <!-- {% for turma in todas_as_turmas %} -->
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                                <label class="form-check-label" for="radioCheckbox"> Pesquisar por intervalo de data </label>
                            </li>
                        <!-- {% endfor %} -->
                    

                    <button type="submit">Filtrar</button>
                  

                </div> 
            </div>

        </div>

        <div class="col"></div>
    </div>

    
{% endblock %}
