<!-- página inicial -->

{% extends "master.html" %}

{% block title %}   
    SISTEMA MESTRADO
{% endblock %}


{% block content %}
  
    {% include "header.html" %}

    <div class="row">
        <div class="col "></div>
        
        <div class="col p-5 my-5 border">
             
            <form method="GET">
                <input type="text" name="q" placeholder="Buscar aluno">
                <button type="submit">Buscar</button>
              </form>

              <strong>
                <p> Quantidade de alunos que defenderam = {{alunos|length}} </p> 
                <p> Média de alunos que defenderam = {{media}}% </p>
              </strong>
              
              <ul>
                {% for aluno in alunos %} 
                  {%if aluno.defesa %}
                    <li>{{ aluno.nome }} {{ aluno.sobrenome }} - Defesa: {{ aluno.data_defesa|date:"d/m/Y" }}
                  {%else%}
                    <li>{{ aluno.nome }} {{ aluno.sobrenome }} - Não defendeu.
                  {%endif%}
                {% endfor %}
              </ul>
            

        </div>

        <div class="col"></div>
      </div>


    

{% endblock %}
