<!-- página inicial -->

{% extends "master.html" %}

{% block title %}   
    SISTEMA MESTRADO
{% endblock %}


{% block content %}
  
    {% include "header.html" %}

    <div class="row">
        <div class="col "></div>
        
        <div class="col p-5 my-5 border">
             
            <h1> Quantidade de alunos que defenderam = {{defenderam}} </h1>
            <h1> Média de alunos que defenderam = {{media}} </h1>
            

        </div>

        <div class="col"></div>
      </div>


    

{% endblock %}
