<!-- página inicial -->

{% extends "master.html" %}

{% block title %}   
    SISTEMA MESTRADO
{% endblock %}


{% block content %}
  
    {% include "header.html" %}

    
    
    <div class="row">
        <div class="col "></div>
        
        <div class="col p-5 my-5 border">
             
            <h2> Turmas </h2>
            <p><a href="turmas/">visualizar todas as turmas </a></p>
            <h2> Alunos </h2>
            <p><a href="alunos/">visualizar todos os alunos </a></p>
            <h2> Docentes </h2>
            <p><a href="docentes/">visualizar todos os docentes </a></p>
            <h2> Relatórios </h2>
            <p><a href="relatorios/filtro/">visualizar todos os relatórios </a></p>

        </div>

        <div class="col"></div>
      </div>


    

{% endblock %}
