<!-- main structure -->
{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        {% block meta %}
            <!-- ensure proper rendering and touch zooming on mobile devices -->
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- tells browser which character encoding format is used -->
            <meta charset="utf-8">

            <!-- force Internet Explorer (IE) to use the latest version of the rendering engine -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% endblock %}

    </head>

    <body>

        {% block content %}
        {% endblock %}

    </body>

</html>